*{
    text-align: center;
    font-size: 20px;
}
.auth_form{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    border: 2px solid #216ABC;
    margin: 15% 5% 15%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 18px 5px 25px 14px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 18px 5px 25px 14px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 18px 5px 25px 14px rgba(0, 0, 0, 0.31);
}

.invitation{
    margin: 10px;
}

.img_block {
    object-fit: cover;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_area{
    margin: 2%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}